.ag-header-cell-label .ag-header-cell-text {
  writing-mode: vertical-lr;
}
.red {
  background-color: red;
  color: white;
}
.green-1 {
  background-color: #00D000;
  color: white;
}
.green-2 {
  background-color:#00C000;
  color: white;
}
.green-3 {
  background-color: #00B000;
  color: white;
}
.green-4 {
  background-color: #00A000;
  color: white;
}
.green-5 {
  background-color: #009000;
  color: white;
}
.green-6 {
  background-color: #008000;
  color: white;
}
.green-7 {
  background-color: #007000;
  color: white;
}
.green-8 {
  background-color: #006000;
  color: white;
}
.green-9 {
  background-color: #005800;
}
.green-10 {
  background-color: #005000;
  color: white;
}
.green-11 {
  background-color: #004800;
  color: white;
}
.yellow {
  background-color: orange;
  color: white;
}


